// ----- Variables -----
$main-bg-dark: #0d0d0d;
$header-bg-dark: #1a1a1ade;
$main-bg-light: #fefefe;
$header-bg-light: #e1e1e1;
$accent: #960dff;
$text-light: #fff;
$text-muted: #bbb;
$text-secondary: #888;
$text-tertiary: #ffd21d;
$border: #222;
$radius: 10px;

// ----- Themes -----
[data-theme="dark"] {
    --main-bg-color: #{$main-bg-dark};
    --header-bg-color: #{$header-bg-dark};
    --accent: #{$accent};
    --text: #{$text-light};
    --text-muted: #{$text-muted};
    --text-secondary: #{$text-secondary};
    --text-teriary: #{$text-tertiary};
    --border: #{$border};
}

[data-theme="light"] {
    --main-bg-color: #{$main-bg-light};
    --header-bg-color: #{$header-bg-light};
    --accent: #{$accent};
    --text: #222;
    --text-muted: #666;
    --text-secondary: #888;
    --text-teriary: #{$text-tertiary};
    --border: #e1e1e1;
}

// ----- Reset -----
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

// ----- Cursor -----
body {
    cursor: url("assets/images/cursor/Cursor.cur"), auto;
}

button,
a {
    cursor: url("assets/images/cursor/Pointer.cur"), pointer !important;
}

input,
textarea {
    cursor: url("assets/images/cursor/Text.cur"), text;
}

// ----- Scrollbar -----
/* Para navegadores baseados em Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    background: #181828;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd21d;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) #181828;
}

// ----- Effects -----
/* Yellow effect for text */
.effect-yellow {
    user-select: none;
    display: inline-block;
    color: var(--accent);
    background-image: linear-gradient(90deg, #ffd21d 0%, #ffd21d 50%, var(--accent) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: background-position 0.6s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-position: 0 0;
    }
}

/* Blink effect */
.typewriter:after {
    content: "|";
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--third-color);
    margin-left: -10px;
}

@keyframes blink {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

// ----- Body -----
body[data-theme] {
    background: var(--main-bg-color, #0d0d0d);
    color: var(--text, #fff);
    font-family: "Inter", Arial, Helvetica, sans-serif !important;
    min-height: 100vh;
}

// ----- Header -----
header {
    background: var(--header-bg-color, #0d0d0d) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.10);

    .header-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: filter 0.5s;

        img {
            width: 37px;
            height: 37px;
        }

        &:hover {
            filter: brightness(1.3);
        }
    }
}

// ----- Mini Prompt -----
.mini-prompt-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-family: "Fira Mono", "Consolas", "Menlo", monospace;
    user-select: none;
}

.mini-prompt-title {
    background: #262626;

    .circle {
        font-size: 0.7rem;
        aspect-ratio: 1/1;
    }

    .red {
        color: #FB2C36 !important;
    }

    .yellow {
        color: #F0B100 !important;
    }

    .green {
        color: #00C950 !important;
    }

    .portfolio-title {
        color: #95A1A1 !important;
        font-size: 0.9rem;
    }
}

.mini-prompt-footer {
    background: #FAFAFA;
}

.mini-prompt {
    background: #0A0A0A;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 18px 20px 14px 20px;
    font-size: 0.8rem;
    color: #f8f8f2;
    min-width: 240px;
    max-width: 320px;
    margin: 0 auto;
    line-height: 1.6;
    word-break: break-word;

    .indent {
        margin-left: 18px;
        display: block;
    }

    .var { // uso
        color: #1A5FE2;
    }

    .name { // uso
        color: #c09a02;
    }

    .eq {   
        color: #fff;
    }

    .key {
        color: #037C23  ;
    }

    .string {
        color: #FF6900;
    }

    .array {
        color: #8048e9;
    }

    .export {
        color: #8737C5;
    }
}

// ----- Skills -----
.skills {
    margin-bottom: 1rem;
    user-select: none;

    .skill {
        background: #181828;
        color: var(--text-muted);
        font-size: 0.9rem;
        border-radius: 100px;
        padding: 3px 14px;
        font-weight: 500;
        letter-spacing: 0.01em;
        margin: 2px 0px;
        display: inline-block;
        transition: color 0.2s, background 0.2s;

        &:hover {
            color: $text-tertiary;
        }
    }
}

// ----- Purple button -----
.purple-btn {
    border: none;
    background: var(--accent) !important;
    color: #fff !important;
    text-decoration: none;

    &:hover {
        cursor: unset !important;
        transition: filter 0.5s;
        filter: brightness(1.2);
        box-shadow: #960dff 0px 0px 8px 0px;
    }
}

// ----- Title sections -----
.section-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 50px;
        height: 2px;
        background: var(--accent);
        opacity: 0.6;
        border-radius: 2px;
    }
}

// ----- Social -----
.social-links {
    a {
        color: var(--text-secondary);
        font-size: 1.3rem;

        &:hover {
            transition: color 0.2s;
            color: var(--accent);
        }
    }
}

// ----- Projects -----
.project-list {
    .project-title {
        font-size: 1.08rem;
        font-weight: 600;
        color: var(--accent);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: $text-tertiary;
        }
    }

    .project-description {
        color: var(--text-muted);
        font-size: 1rem;
        margin-top: 2px;
    }

    .project-tech {
        color: var(--text-secondary);
        font-size: 0.97rem;
        margin-top: 2px;
    }
}

.see-projects {
    display: block;

    a {
        color: var(--accent);
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        filter: brightness(0.8);
        transition: 0.3s;

        &:hover {
            filter: brightness(1);
            color: $text-tertiary;
            text-decoration: underline 0.02rem;
        }
    }
}

// ----- Contact -----
.contact-form {
    background: var(--header-bg-color);
    border-radius: $radius;
    padding: 18px 18px 12px 20px;
    margin: 0 auto;

    input,
    textarea {
        background: #181828;
        color: var(--text) !important;
        border: 1px solid var(--border);
        border-radius: 6px;
        padding: 8px 12px;
        font-size: 1rem;
        resize: vertical;
        outline: none;
        transition: border 0.2s;

        &::placeholder {
            color: var(--text);
            opacity: .4;
        }

        &::-webkit-input-placeholder {
            color: var(--text);
            opacity: .4;
        }

        &::-moz-placeholder {
            color: var(--text);
            opacity: .4;
        }

        &:-ms-input-placeholder {
            color: var(--text);
            opacity: .4;
        }

        &::-ms-input-placeholder {
            color: var(--text);
            opacity: .4;
        }


        &:focus {
            border: 1.5px solid var(--accent);
            background: #181828;
            box-shadow: 0 0 0 2px rgba(150, 13, 255, 0.15);
        }
    }

    textarea {
        resize: vertical;
        min-height: 80px !important;
        max-height: 300px !important;
    }
}

// ----- Footer -----
footer {
    color: var(--text-secondary);
    font-size: 0.7rem;
    font-family: Fira Mono, Consolas, Menlo, monospace;
    background: none;
    border: none;
}