@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

/* Initial part */

*,
*::before,
*::after {
    font-family: 'Noto Sans', sans-serif, 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0px;
}

.handwriting {
    font-family: 'Parisienne', cursive, 'Roboto';
}

:root {
    --first-color: #edf2ed;
    --second-color: #212121;
    --third-color: #809bce;
    --fourth-color: #d3d4d3;
    --fifth-color: #eeaeca8a;
    --sixth-color: #e4e4e4;
    --cv-color: #bbd0ff;
    --linkedin-color: #bde0fe;
    --github-color: #a2d2ff;
    --html-bg: linear-gradient(45deg, #fbb39d, #fba09d);
    --css-bg: linear-gradient(45deg, #bde0fe, #72bbce);
    --bootstrap-bg: linear-gradient(45deg, #c3bef0, #cca8e9);
    --sass-bg: linear-gradient(45deg, #f3c6f2, #efa6b6);
    --js-bg: linear-gradient(45deg, #fadeab, #f7b484);
    --py-bg: linear-gradient(45deg, #a8caf6, #97d3ce);
    --illustrator-bg: linear-gradient(45deg, #fdf2b0, #cf9963);
    --photoshop-bg: linear-gradient(45deg, #d7e3fc, #abc4ff);
    --figma-bg: linear-gradient(45deg, #e58c8a, #f57c73);

    .dark-theme {
        --first-color: #000106;
        --second-color: #fff;
        --third-color: #5275b4;
        --fourth-color: #252525;
        --fifth-color: #053168;
        --sixth-color: #202020;
        --cv-color: linear-gradient(145deg, #1040d1, #3d3397);
        --linkedin-color: linear-gradient(145deg, rgb(0, 108, 197), #3d3397);
        --github-color: linear-gradient(145deg, #1d80fa, #3d3397);
        --html-bg: linear-gradient(45deg, #F89702, #570000);
        --css-bg: linear-gradient(45deg, #15b1b6, #000261);
        --bootstrap-bg: linear-gradient(45deg, #8594e4, #430f58);
        --sass-bg: linear-gradient(45deg, #e5bcf5, #c54c82);
        --js-bg: linear-gradient(45deg, #f8e492, #6b4a0b);
        --py-bg: linear-gradient(45deg, #47b1db, #0c2f35);
        --illustrator-bg: linear-gradient(45deg, #F89702, rgb(112, 20, 4));
        --photoshop-bg: linear-gradient(45deg, #31c5ff, #021233);
        --figma-bg: linear-gradient(45deg, #b96927, #3d0f01);
    }
}

/* Scrollbar */

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--first-color);
}

::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}

/* Hover Effect */

.hover-effect {
    position: relative;
}

.hover-effect::before {
    background: var(--third-color);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.hover-effect:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Blink effect */

.typewriter:after {
    content: "|";
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--third-color);
}

#home .typewriter:after {
    margin-left: -10px;
}

@keyframes blink {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Header */

header {
    background-color: var(--first-color);
    /* height: 50px; */
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    color: var(--third-color);
}

#icon:hover,
#lang:hover {
    cursor: pointer;
    -webkit-filter: contrast(65%);
}

/* Body */

body {
    background: var(--first-color);
}

section {
    width: 75%;
    margin: auto;
}

hr {
    color: var(--second-color);
}

/* Fonts and Titles */

.credits {
    font-size: .8rem;
    position: relative;
    opacity: .5;
    top: -3em;
}

.credits:hover {
    opacity: 1;
}

h2 {
    font-weight: 500;
    text-align: center;
}

.dot {
    color: var(--third-color);
}

h1,
h2,
h3,
h4,
p,
a,
span {
    color: var(--second-color);
}

/* Sections */

/* Home */

#home div a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Links */
.linkedin,
.github,
.downloadCV {
    -webkit-filter: contrast(80%);
    color: var(--second-color);
    font-weight: 500;
    border-radius: 25px;
    padding: 4px 10px 4px 4px;
}

.linkedin:hover,
.github:hover,
.downloadCV:hover {
    -webkit-filter: contrast(70%);
}

.downloadCV {
    background: var(--cv-color);
}

.downloadCV:hover,
.downloadCV:focus {
    box-shadow: 0px 0px 20px #1040d1;
}

.linkedin {
    background: var(--linkedin-color);
}

.linkedin:hover,
.linkedin:focus {
    box-shadow: 0px 0px 20px rgb(0, 108, 197);
}

.github {
    background: var(--github-color);
}

.github:hover,
.github:focus {
    box-shadow: 0px 0px 20px #1d80fa;
}

/* About me */

#about,
#skills,
#projects {
    background-color: var(--sixth-color);
}

/* Skills */

#skills div button {
    outline: none;
    border: none;
    color: #fff;
    cursor: default;
    letter-spacing: 1px;
    margin-right: 5px;
    padding: 0.2em 1em 0.2em 1em;
    border-radius: 2em;
    font-weight: bolder;
}

#skills div button:hover {
    -webkit-filter: contrast(60%);
    cursor: pointer;
}

#skills img {
    height: 22px;
    width: auto;
    margin-right: 10px;
}

.skill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#info-html,
#info-css,
#info-bootstrap,
#info-sass,
#info-js,
#info-illustrator,
#info-photoshop,
#info-figma {
    display: none;
}

.info-content {
    background-color: var(--fourth-color);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.info-content p {
    margin: 0;
    padding: 10px;
}

/* Projects */

.grid-item {
    color: var(--second-color);
    background-color: var(--fourth-color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    flex-grow: 1;
    /* Faz com que este contêiner cresça para ocupar o espaço restante */
}

.content .img-container {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.content img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease
}

.content:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content h4 {
    color: var(--third-color);
    margin: 10px 0 0 0;
}

.content span {
    margin: 10px 15px 15px 15px;
}

.content a {
    margin-bottom: 15px;
    background-color: var(--third-color);
    color: var(--second-color);
    text-decoration: none;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    margin-top: auto;
    /* Coloca o botão no final do contêiner */
}

/* Estilos adicionais para hover ou foco, se desejado */
.content a:hover,
form button:hover {
    -webkit-filter: contrast(100%);
    box-shadow: 0px 0px 20px var(--third-color);
}

.soon a {
    background-color: var(--second-color);
    color: var(--first-color);
}

.soon a:hover {
    -webkit-filter: contrast(50%);
    box-shadow: none;
}

.proj-bg {
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, var(--fifth-color) 0%, var(--third-color) 100%);
    background: -webkit-radial-gradient(circle, var(--fifth-color) 0%, var(--third-color) 100%);
    background: radial-gradient(circle, var(--fifth-color) 0%, var(--third-color) 100%);
}

/* Media query */

@media (max-width: 450px) {
    nav {
        display: none;
    }
}

@media (max-width: 1024px) {
    section {
        width: 100%;
    }
}